<%= render "/notice" %>
<%= render "/setting/setting_navbar" %>
<div class="px-4 container mx-auto md:px-2">
  <div class="py-4 flex justify-between items-center">
    <h3 class="">權限設定</h3>
    <div class="">
      <% if edit_perm("permission") %>
      <%= link_to "新增權限", new_setting_permission_path, class: "custom-secondary-button" %>
      <% end %>
    </div>
  </div>
  <div
    class="overflow-container mb-8 max-h-[calc(100vh_-_300px)] min-h-[calc(100vh_-_300px)] flex-1 md:max-h-full"
  >
    <div class="inline-flex w-full flex-col">
      <%= content_tag "div", "", id: "index-table-app", data: {
          permissions: @permissions,
          permission_items: PERMISSION_ITEMS,
          edit_perm: edit_perm("permission")
        } %>
    </div>
  </div>
  <%== pagy_nav(@pagy) if @pagy.last > 1 %>
</div>