<!DOCTYPE html>
<head>
  <title><%= t("system_name") %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render "/layouts/meta" %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag "application.scss" %>
  <%= vite_javascript_tag "login" %>
</head>
<body
  class="bg-gray-100 w-full"
  data-controller="<%= controller.controller_path.to_s %>"
  data-action="<%= controller.action_name.to_s %>"
>
  <%= render "/notice" %>
  <%= content_tag "div", "", id: "login-app", data: {
    system_name: t("system_name"),
    login_url: login_path,
    redirect_url: params[:redirect_path]
  } %>
  <%= render "layouts/footer" %>
</body>
</html>