<%= render "/notice" %>
<%= render "/setting/setting_navbar" %>
<div class="px-4 container mx-auto md:px-2">
  <div class="py-4 flex justify-between items-center">
    <h3 class="">使用者設定</h3>
    <div class="">
      <% if edit_perm("user") %>
      <%= link_to "新增使用者", new_setting_user_path, class: "custom-secondary-button" %>
      <% end %>
    </div>
  </div>
  <div class="flex gap-4 md:flex-col">
    <div class="w-1/6 min-w-[248px] flex-initial md:w-full">
      <%= content_tag "div", "", id: "index-search-app" %>
    </div>
    <div class="flex-1">
      <div
        class="overflow-container mb-8 max-h-[calc(100vh_-_300px)] min-h-[calc(100vh_-_300px)] flex-1 md:max-h-full"
      >
        <div class="inline-flex w-full flex-col">
          <%= content_tag "div", "", id: "index-table-app", data: {
            users: @users,
            edit_perm: edit_perm("user")
          } %>
        </div>
      </div>
      <%== pagy_nav(@pagy) if @pagy.last > 1 %>
    </div>
  </div>
</div>