<!DOCTYPE html>
<html>
  <head>
    <title><%= t("system_name") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "/layouts/meta" %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.scss" %>
    <% application_js = Rails.env.development? ? "devApplication" : "application" %>
    <%= vite_javascript_tag application_js %>
  </head>

  <body class="h-full w-full" data-controller="<%= controller.controller_path.to_s %>" data-action="<%= controller.action_name.to_s %>">
    <%= render "/layouts/header" %>
    <%= render "/layouts/i18n_js" %>
    <div id="app" class="pb-4 min-h-[calc(100vh_-_90px)] sm:min-h-[calc(100vh_-_83px)]">
      <%= yield %>
    </div>
    <%= render "/layouts/footer" %>
  </body>
</html>